%nav
  = render '_nav_boxes'

%header.business-card
  #contact.clearfix
    .words
      .name thomas levine
      %a{ :href => 'mailto:.@thomaslevine.com' } .@thomaslevine.com
      .phone
        
      .social
        %a.elsewhere{ :href => "http://facebook.com/perluette"}
          fb
        %a.elsewhere{ :href => "http://twitter.com/thomaslevine"}
          tw
        %a.elsewhere{ :href => "https://www.linkedin.com/in/tlevine"}
          li
        %a.elsewhere{ :href => "http://stackexchange.com/users/176493"}
          se
        %a.elsewhere{ :href => "https://plus.google.com/112237825767532686869"}
          g+
        %a.elsewhere{ :href => "https://joindiaspora.com/u/tlevine"}
          d* 
    .logo
      %img{ :src => "/img/pink_hat_icon-200.png", :alt => "Tom's hat" }

#links.clearfix
  #repositories.link-group
    = render('_topic_box', :topic => 'repositories', :links => [['github', 'https://github.com/tlevine'], ['bitbucket', "https://bitbucket.org/tlevine"], ['scraperwiki', "https://scraperwiki.com/profiles/tlevine"], ['gitorious', "https://gitorious.org/tlevine"]])

  #serious.link-group
    = render('_topic_box', :topic => 'data', :links => [['microfinance', '/!/mix-data-scraping/'], ['wetlands', 'http://scott.thomaslevine.com'], ['occupy', 'http://occupydatanyc.org/2013/03/14/external-stresses-mediate-an-association-between-negative-perception-of-activism-and-a-decision-never-to-participate/'], ['tahrir', "http://blog.scraperwiki.com/2011/11/25/mapping-tahrirsupplies/"]])
    
  #stories.link-group
    = render('_topic_box', :topic => 'stories', :links => [['treasury', 'http://treasury.io'], ['scarsdale', '/scarsdale/']])

  #silly.link-group
    = render('_topic_box', :topic => 'silly', :links => [['dead people', 'http://deadpeoplebornonmybirthday.thomaslevine.com'], ['hipstogram', 'https://github.com/tlevine/hipstogram']])

  #hip.link-group
    = render('_topic_box', :topic => 'hip', :links => [['hipstogram', 'https://github.com/tlevine/hipstogram'],['csv soundsystem','http://csvsoundsystem.com']])
    -# big paper for big data?

  #earthmoving.link-group
    = render('_topic_box', :topic => 'earthmoving', :links => [['dumptruck', "https://github.com/scraperwiki/dumptruck"], ['pinterest', "http://pinterest.com/perluette/earthmoving-equipment/"]])

  #buttons.link-group
    = render('_topic_box', :topic => 'buttons', :links => [['http redirects', 'http://redirect.thomaslevine.com'], ['usps', 'https://views.scraperwiki.com/run/usps_lookup/'], ['buses', "http://bettercoach.thomaslevine.com"]])

  #nerd-cred.link-group
    = render('_topic_box', :topic => 'nerd cred', :links => [['web forms', 'https://gist.github.com/1231284'], ['unwatermark', 'https://github.com/tlevine/unwatermark'], ['.profile', 'https://github.com/tlevine/.prophyl-teh-awesum']])

  #shell-testing.link-group
    = render('_topic_box', :topic => 'shell testing', :links => [['urchin', "https://github.com/scraperwiki/urchin"], ['alternatives', 'https://blog.scraperwiki.com/2012/12/how-to-test-shell-scripts/']])

  #open-data.link-group
    = render('_topic_box', :topic => 'open data', :links => [['meta', '/open-data'], ['openprism', 'http://openprism.thomaslevine.com']])

  #letterpress.link-group
    = render('_topic_box', :topic => 'letterpress', :links => [['wrestling',"/!/jello-wrestling"],['free culture',"http://cornell.freeculture.org/2009/08/30/a-new-semester-meeting-thursday-september-3/"],['orpheus','/!/orpheus-myth'],['tea party',"/!/tea-party"]])

  #installations.link-group
    = render('_topic_box', :topic => 'installations', :links => [['pb dq', "/!/pbdq"],['gullible', "/!/gullible"],['jaywalking',"/!/jaywalking"]])
    -# ['fire safety',"http://smug.thomaslevine.com/Installations/Masquerave-2010/14225818_83md3v#!i=1077318594&k=u5YzK"], ['desk height',"http://smug.thomaslevine.com/Installations/Desk-Height-Slides/16614577_BsSt38#!i=1234422708&k=MppdU"]

  #music.link-group
    = render('_topic_box', :topic => 'music', :links => [['christmas', '/!/christmas-gifts'], ['fed spending', 'http://fms.csvsoundsystem.com'], ['twinkle', '/!/twinkle/']])

  #doodles.link-group
    %strong doodles
    %ul.nobullet
      %li
        %a{ :href => "http://smug.thomaslevine.com/Typography/Pizza-Boxes"} pizza boxes
      %li
        %a{ :href => "http://smug.thomaslevine.com/Typography/Risquirer/risquirer-20100504/12846614_ZbL7xv#!i=932454990&k=r7xgo&lb=1&s=A"} risquirer
      %li
        %a{ :href => "http://smug.thomaslevine.com/Typography/Doodles"} more

  -##trolls.link-group
    = render('_topic_box', :topic => 'trolls', :links => [['definition', ''], ['jello wrestling', ''], ['drag parties', '']])

  -##things.link-group
    = render('_topic_box', :topic => 'things', :links => [['stenotype', ''], ['emg', '']])

  #toilets.link-group
    = render('_topic_box', :topic => 'toilets', :links => [['dorm', '/!/risley-toilets'], ['map', 'http://mapsh.it'], ['hovering', '/!/hovering-cycle']])
    -# = render('_topic_box', :topic => 'toilets', :links => [['dorm', '/!/risley-toilets'], ['map', 'http://mapsh.it'], ['hovering', 'phlush'], ['overflows', '']])
